@tailwind base;
@tailwind components;
@tailwind utilities;

.light-mode {
    --bg-primary: bg-white;
    --text-primary: text-black;
    --bg-secondary: bg-gray-200;
    --text-secondary: text-gray-700;
}

/* Dark mode classes */
.dark-mode {
    --bg-primary: bg-gray-900;
    --text-primary: text-white;
    --bg-secondary: bg-gray-800;
    --text-secondary: text-gray-400;
}
